@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background-color: rgb(245, 243, 242);
  display: flex;
  flex-direction: column;
}

h1 {
  margin-left: 5%;
  margin-bottom: 80px;
  font-size: 40px;
}

/* ---------- HEADER ---------- */
.header {
  background-color: rgba(245, 243, 242);
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  z-index: 10;
}

.ui.menu>.item.header-logo {
  margin: 0 0 0 5%;
  font-weight: bold;
}

.ui.secondary.menu {
  margin-right: 5%;
  margin-top: 0;
}

.header-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px;
  color: white;
}

.nav-items {
  margin: 0 20px;
}

/* ---------- HOME PAGE ---------- */
.homepage {
  background-color: rgb(21, 26, 51);
  width: 100%;
  height: 100vh;
  position: relative;
}

.homepage-title {
  position: absolute;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin-left: 40px;
  margin-top: 250px;
  z-index: 10;
}

.homepage-learn {
  width: 100%;
  color: white;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 30px;
}

.homepage-learn-text {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

#name {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 75px;
  padding: 40px 0px 50px 0px;
  display: flex;
  align-self: center;
}

/* ---------- ABOUT ME ---------- */
.aboutme {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0 85px 0;
}

.aboutme-desc {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutme-par {
  width: 81%;
  line-height: 40px;
  text-align: justify;
  font-size: 15px;
  padding-top: 10px;
}

.aboutme-profile {
  object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  margin: 0 auto;
}

.skills-list {
  align-self: center;
  height: 70vh;
  width: 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.skills-list-title {
  font-size: 25px;
}

.skills-list-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.skills-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

/* ---------- WORK ---------- */
.work {
  width: 100%;
  height: 250vh;
}

div.ui.pointing.secondary.vertical.work-menu.menu {
  margin-left: 5%;
  height: 150px;
}

.work-menu-container {
  height: 170vh;
  width: 220px;
  margin-left: 5%;
}

.work-projects {
  display: flex;
  flex-wrap: wrap;
}

.projects-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.project {
  display: flex;
  justify-content: space-evenly;
  height: 50vh;
}

.work-all-projects {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.work-logo {
  background-color: rgb(255, 255, 255);
  height: 300px;
  width: 300px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.work-logo-flight {
  background-color: #4f5f76;
  height: 300px;
  width: 300px;
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.work-image-tama {
  position: relative;
  height: 100%;
  border-radius: 50px;
}

.work-image-flight {
  position: relative;
  height: 200px;
  width: 200px;
  display: flex;
  align-self: center;
}

.work-image {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50px;
}

.project-info {
  text-align: center;
  width: 40%;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  font-size: 15px;
  margin-top: 30px;
}

a:hover {
  text-decoration: underline;
}

.work-to-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.work-in-touch {
  font-family: 'Raleway', sans-serif;
  font-size: 18px; 
}

/* ---------- CONTACT ---------- */
.contact {
  width: 100%;
  height: 80vh;
  padding-top: 50px;
}

.contact-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-info {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.contact-par {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.full-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-name {
  width: 45%;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.contact-icon {
  width: 50px;
  height: 50px;
}

/* ---------- FOOTER ---------- */
.footer {
  background-color: rgb(245, 243, 242);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}